<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>examineeLogin</title>
</head>
<body>
    <div><a href="http://localhost:8000/examinee/exam/">Exam</a></div>
    <div><a href="http://localhost:8000/examinee/result/">Result</a></div>
    <div><a href="http://localhost:8000/examinee/logout/">Logout</a></div>

    <h1>Login to Examinee Page</h1>

    <form action="http://localhost:8000/examinee/examinee-LoginValidate" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" name="Username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="Password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="sign-in"></td>
                <td><a href="http://localhost:8000/examinee/new-examinee">sign-up</a></td>
            </tr>
        </table>
    </form>
</body>
</html>