<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Examinee</title>
</head>
<body>
    <h1>Welcome</h1>
    <div>
        <h3>Register here</h3>
        <form action="http://localhost:8000/examinee/examinee-signup/" method="post">
            {% csrf_token %}
            <table>

                <tr>
                    <td>Username</td>
                    <td><input type="text" name="Username" placeholder={{error_msg}}></td>   
                </tr>

                <tr>
                    <td>Password</td>
                    <td><input type="password" name="Password"></td>
                </tr>

                <tr>
                    <td>Name</td>
                    <td><input type="text" name="Name"></td>
                </tr>

                <tr>
                    <td>Roll no</td>
                    <td><input type="text" name="Rollno"></td>
                </tr>
                
                <tr>
                    <td>Email Id</td>
                    <td><input type="text" name="Email"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="signup"></td>
                </tr>


            </table>
        </form>
    </div>
</body>
</html>