<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examiner Login Page</title>
</head>
<body>
    <div><a href="http://localhost:8000/">Home Page</a></div>
    <div><a href="http://localhost:8000/examinee/examinee-login/">Examinee Page</a></div>
    
    <div><h1>Fill the login credentials to login</h1></div>
    <div>
        <form action="http://localhost:8000/examiner/examiner-loginValidate/" method="post">
            {% csrf_token %}
            <table>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="signin"></td>
            </tr>
            </table>
        </form>
    </div>
</body>
</html>